<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>VichyCulture.fr - Visite d'opera de Vichy</title>
    <meta name="description" content="    Visitez le Grand casino de Vichy avec notre guide. Vous allez apprendre beaucoup de nouvelles
    choses sur son histoire. Retrouvez le morceau de code caché dedans et continuez votre voyage sur l’histoire de Vichy.
     Retrouvez les secrets derrière la clé usb et ce qu’elle veut vous montrer.">
    <link rel="stylesheet" href="../dist/css/index.css">
  </head>
  <body onload="playerStart()">
    <nav>
      <ul>
        <li><a href="index.html">Accueil</a></li>
        <li><a href="intro.html">Introduction</a></li>
        <li><a href="casino.html">Casino</a></li>
        <li><a href="opera.html">Opera</a></li>
      </ul>
    </nav>
    <div class="body">
      <video src="./videos/casino.mp4"  onended="finCasino()"></video>
    </div>
  <script type="text/javascript" src="../dist/js/intro.js">

  </script>
  </body>
</html>
