<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link rel="stylesheet" href="../dist/css/index.css">
  </head>
  <body>

    <nav>
      <ul>
        <li><a href="index.html">Accueil</a></li>
        <li><a href="intro.html">Introduction</a></li>
        <li><a href="casino.html">Casino</a></li>
        <li><a href="opera.html">Opera</a></li>
      </ul>
    </nav>
    <div class="intro">
      <input type="text" id="code" placeholder="Entrez 4 chiffres">
      <button type="button" onclick="verifCode()" name="button">Verifier le code</button>
    </div>

    <script src="../dist/js/intro.js">

    </script>
  </body>
</html>
