<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link rel="stylesheet" href="../dist/css/index.css">
  </head>
  <body onload="playerStart()">
    <nav>
      <ul>
        <li><a href="intro.html">Intro</a></li>
        <li><a href="casino.html">Casino</a></li>
        <li><a href="opera.html">Opera</a></li>
        <li><a href="fin.html">Fin</a></li>
      </ul>
    </nav>
    <div class="body">
      <video src="placeholder.mp4" width="100%" onended="fin()">

      </video>

    </div>
    <script type="text/javascript" src="../dist/js/intro.js">

    </script>
  </body>
</html>
