<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
      VichyCulture.fr - Immersion dans la culture de la ville de Vichy
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../dist/css/index.css">
    <meta name="robots" content="all">
    <meta name="description" content="Immergez vous dans la culture de Vichy grâce à un web-documentaire. Vous allez être plonger dans l’histoire de différents
    lieux connus de Vichy, comme Casino et l'opéra de Vichy. Visitez ces lieux pour apprendre leurs histoires cachées.">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="index.html">Accueil</a></li>
        <li><a href="intro.html">Introduction</a></li>
        <li><a href="casino.html">Casino</a></li>
        <li><a href="opera.html">Opera</a></li>
      </ul>
    </nav>
    <div class="intro">
      <div class="">
        <h1>Immersion dans la culture de Vichy grâce à une web-documentaire faite par les étudiants du BUT MMI</h1>
        <h2>Le développement du <strong>web-documentaire</strong> par étudiants BUT MMI vous permet d’immerger dans <strong>la culture de Vichy</strong> et découvrir différents aspects de
        <strong>l’histoire de Vichy</strong>.
        Vous allez visiter des lieux connus et importants pour l’histoire qui font Vichy la ville laquelle elle est aujourd’hui.</h2>
        <p>Dès aujourd’hui, tentez l’aventure d’un web-documentaire culturel réalisé par des étudiants en BUT Métier du Multimédia et de l’Internet en collaboration avec <a href="https://vichymonamour.fr"> Vichy
           Culture</a>. Une expérience immersive et intéractive vous permet d’en apprendre plus sur la ville et sur les opportunités culturelles qui s’y trouvent.
           Ces étudiants en BUT MMI vous livrent un web-documentaire inspiré par la mode des escape games. Énigmes et mystères sont vous proposé à résoudre sur une plateforme entièrement
           dédiée aux personnes curieux et avides de découvrir l’histoire de la ville de leurs études. Donc n'attendez plus et plongez dedans pour decouvrir de nouveaux histoires de
           <span><a href="casino.html">Casino</a></span> et <span><a href="opera.html">Opera</a></span> de Vichy</p>
        <div class=""id="start">
          <a href="intro.html"><button type="button"  name="button">Commencer</button></a>
        </div>

      </div>

    </div>
  </body>
</html>
