<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../dist/css/index.css">
    <title>VichyCulture.fr - Introduction du web-documentaire sur la culture de la ville de Vichy</title>
    <meta name="description" content="Introduction au patrimoine culturel présent dans la ville de Vichy via un web-documentaire.
Participez à l’histoire d’un étudiant qui reçoit un mystérieux colis d'un expéditeur anonyme.
Partez à la recherche d'un code pour déverrouiller la clé à travers les secrets de l'Opera et du Casino de Vichy.">
  </head>
  <body onload="playerStart()">
    <nav>
      <ul>
        <li><a href="index.html">Accueil</a></li>
        <li><a href="intro.html">Introduction</a></li>
        <li><a href="casino.html">Casino</a></li>
        <li><a href="opera.html">Opera</a></li>
      </ul>
    </nav>
    <div class="body">
      <video src="./videos/intro.mp4" onended="introEnded()"></video>
    </div>
    <script type="text/javascript" src="../dist/js/intro.js"></script>
  </body>
</html>
