<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../dist/css/index.css">
    <title>VichyCulture.fr - Introduction du web-documentaire sur la culture de la ville de Vichy</title>
    <meta name="description" content="Introduction à l'histoire de culture de Vichy via le web-documentaire.
    Découvrez l’histoire d’un étudiant qui reçoit une clé usb de la ville de Vichy.
    Cela l’envoie en recherche du code pour débloquer la clé et trouver des secrets de fameux Casino et Opera de Vichy.">
  </head>
  <body onload="playerStart()">
    <nav>
      <ul>
        <li><a href="index.html">Accueil</a></li>
        <li><a href="intro.html">Introduction</a></li>
        <li><a href="casino.html">Casino</a></li>
        <li><a href="opera.html">Opera</a></li>
      </ul>
    </nav>
    <div class="body">
      <video src="./videos/intro.mp4" onended="introEnded()"></video>
    </div>
    <script type="text/javascript" src="../dist/js/intro.js"></script>
  </body>
</html>
