<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../dist/css/index.css">
    <title>VichyCulture.fr - Visite du casino de Vichy </title>
    <meta name="description" content="Découvrez la grande histoire de l'opéra de Vichy. Lisez ce texte fait par notre équipe, et trouvez le bout de code caché dedans, pour trouver les secrets de la clé usb. Dès que vous serez prêt, continuez votre aventure dans notre web-documentaire.">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="index.html">Accueil</a></li>
        <li><a href="intro.html">Introduction</a></li>
        <li><a href="casino.html">Casino</a></li>
        <li><a href="opera.html">Opera</a></li>
      </ul>
    </nav>
    <div class="main">
      <p>L’opéra a été inauguré en 1903. Il a été conçu par l’architecte Charles le cœur et la décoration a été confiée au peintre décorateur parisien Léon Rudnicki. La salle, rectangulaire, mesure 12 mètres sur 15 mètres avec une hauteur de cintres de 23 mètres. Cette même salle peut accueillir environ 1400 spectateurs.Les artistes et les techniciens disposent de cinq étages de loges et de foyers.En juillet 1940, le gouvernement s’installe à Vichy. La salle de l’Opéra est alors le théâtre du vote des pleins pouvoirs au Maréchal Pétain. En 1987, la ville devient propriétaire des lieux et engagée dès 1994</p>
      <div class="casino">
        <a href="casino.html"><button>Aller au casino</button></a><a href="code.html"><button>Recherche fini</button></a>
      </div>
    </div>
  </body>
</html>
